:root {
  --future-color: rgb(1, 36, 66);
  --pirate-color: #3A160E;
  --western-color: #924A36;
  --forest-color: rgb(3, 97, 3);
  --hallowwood-color: rgb(250, 174, 32);
  --worlds-fair-color: rgb(195, 47, 253);
}
.future-world {
  color: var(--future-color);
}
.pirate-island {
  color: var(--pirate-color);
}
.wild-west {
  color: var(--western-color);
}
.fae-forest {
  color: var(--forest-color);
}
.hallowwood {
  color: var(--hallowwood-color);
}
.worlds-fair {
  color: var(--worlds-fair-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hamburger-menu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px;
  display: none;
}
nav {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  position: fixed;
  font-size: 1.3rem;
  background-color: var(--future-color);
  z-index: 3;
}
nav ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}
nav li {
  width: 20%;
  padding: 1.4rem;
}
nav li:hover {
  background-color: white;
  cursor: pointer;
}
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#video-div {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
#video-overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#video-overlay h1 {
  position: absolute;
  color: white;
  text-shadow: 6px 6px 15px rgb(0, 0, 0);
  font-size: 4rem;
}
.container-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#video-footer {
  width: 80%;
  height: 10vh;
  margin-top: -5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  list-style: none;
  background-color: aliceblue;
  bottom: -1rem;
  z-index: 2;
}
#video-footer li {
  width: 33%;
  height: 50%;
}
#video-footer li:hover {
  background-color: rgb(199, 199, 199);
  cursor: pointer;
}
#tagline {
  text-align: center;
  margin-top: 4rem;
}
#tagline h1 {
  font-size: 4rem;
}
#border-img {
  width: 50%;
  height: 35vh;
  margin-top: 3rem;
}
.container-fluid {
  width: 80%;
  margin-top: 5rem;
  text-align: center;
}
.container-fluid h1 {
  margin-bottom: 2rem;
}
.attraction-div {
  text-align: left;
  transition: .3s;
}
.attraction-div:hover {
  transform: translateY(1rem);
  transition: .3s;
  cursor: pointer;
}
.desc-div {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2em;
  color: white;
  margin-bottom: 2rem;
}
.desc-div h2 {
  padding-bottom: 0.1em;
  font-size: calc(.8em + 2vmin);
}
.desc-div p {
  font-size: calc(.5em + 1.45vmin);
}
#deals-container h1 {
  margin: 3rem;
  padding-top: 4rem;
}
.text-square {
  background-color: rgb(218, 238, 255);
  cursor: pointer;
  transition: .3s;
}
.text-square:hover {
  background-color: rgb(192, 215, 233);
  transition: .3s;
}
.text-square h3 {
  padding-top: 1.3rem;
  font-size: calc(.4em + 2.8vmin);
  text-align: center;
}
.text-square p {
  padding: 1.3rem 1rem;
  font-size: calc(.8em + 1vmin);
  color: black;
  text-align: left;
}
footer {
  width: 100%;
  height: 30vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--future-color);
  color: white;
}
footer h4 {
  font-size: 1.6rem;
  margin-top: 1rem;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
footer li {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1.2rem;
  padding: 0 1rem;
  border-right: 1px solid white;
}
.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 34px;
  width: 65px;
  margin: .5rem;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
} 
.fa-youtube {
  background: #FF0000;
  color: white;
} 
.fa-instagram {
  background: #fd1d1d;
  color: white;
}
/* ATTRACTIONS PAGE */
#attractions-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#attraction-land-sorter {
  width: 70%;
  height: 40px;
  font-size: 1.3rem;
}
.attraction-type-sorter {
  display: flex;
  font-size: 1.3rem;
}
.attraction-type-sorter button {
  height: 100px;
  background-color: white;
  border: 2px solid var(--future-color);
  border-radius: 10px;
}
.attraction-type-sorter button:hover {
  border-color: rgb(161, 171, 194);
}
.attraction {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;
  cursor: pointer;
}
/*.attraction-type-sorter:last-child button {
  background-color: var(--future-color);
  color: white;
}*/
@media only screen and (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }
  .nav, .nav-item {
    display: none;
  }
  #video-overlay {
    height: 45vh;
  }
  #video-overlay h1 {
    font-size: 2.3rem;
  }
  video {
    height: 100%;
  }
  #video-footer {
    height: 4vh;
    font-size: 1rem;
    top: 5rem;
    background-color: white;
  }
  #tagline h1 {
    font-size: 2rem;
  }
  #border-img {
    width: 60%;
    height: 20vh;
  }
  .text-square h3 {
    font-size: 1.5rem;
  }
  .text-square p {
    font-size: 1rem;
  }
  footer h4 {
    font-size: 1.4rem;
  }
  footer ul li {
    font-size: .8rem;
  }
  .fa {
    padding: 15px;
    font-size: 26px;
    width: 49px;
    margin: .5rem;
  }
}
@media only screen and (max-width: 575px) {
  .container-fluid {
    width: 100%;
    margin-top: 5rem;
    text-align: center;
  }
  #video-overlay h1 {
    font-size: 2rem;
  }
  .desc-div {
    height: 17vh;
  }
  .container-fluid h1 {
    margin-bottom: 1.5rem;
    font-size: calc(1.2rem + 2.5vmin);
  }
  #tagline h1 {
    font-size: 1.6rem;
  }
  #border-img {
    width: 80%;
    height: 15vh;
  }
  .text-square p {
    font-size: 1rem;
  }
}