:root {
  --future-color: rgb(1, 36, 66);
  --pirate-color: #3A160E;
  --western-color: #924A36;
  --forest-color: rgb(3, 97, 3);
  --hallowwood-color: rgb(250, 174, 32);
  --text-box-color: rgb(243, 243, 243);
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
.future-world {
  color: var(--future-color);
}
.pirate-island {
  color: var(--pirate-color);
}
.wild-west {
  color: var(--western-color);
}
.fae-forest {
  color: var(--forest-color);
}
.hallowwood {
  color: var(--hallowwood-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: rgb(214, 214, 214);
}
a:hover {
  color: rgb(123, 207, 74);
  text-decoration: none;
}
#hamburger-group {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 4;
}
.hamburger-menu {
  width: 35px;
  height: 5px;
  display: none;
  margin: 6px;
  background-color: rgb(0, 0, 0);
}
#mobile-menu {
  width: 47%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 4%;
  left: 0;
  background-color: #f3f3f3;
  overflow-y: scroll;
  display: none;
  z-index: 3;
}
#mobile-menu a, #mobile-menu span {
  width: 100%;
  color: black;
  margin-bottom: 1rem;
  padding-bottom: 1.7rem;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--future-color);
  cursor: pointer;
}
#mobile-menu a:first-child {
  text-align: center;
  margin-top: .7rem;
  font-size: 1.6rem;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  font-size: 1.3rem;
  background-color: var(--future-color);
  z-index: 3;
}
nav span {
  cursor: pointer;
  color: white;
}
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#video-div {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.media-overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-overlay h1 {
  position: absolute;
  color: white;
  text-shadow: 6px 6px 15px rgb(0, 0, 0);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
}
.container-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#video-footer {
  width: 60%;
  height: 10vh;
  margin-top: -5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(1rem + .7vw);
  list-style: none;
  background-color: aliceblue;
  border: .5px dotted black;
  bottom: -1rem;
  z-index: 2;
}
#video-footer a {
  width: 33%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;
  border-right: 1px solid black;
}
#video-footer a:last-child {
  border-right: 0;
}
#video-footer a:hover {
  background-color: var(--future-color);
  color: white;
  cursor: pointer;
}
#tagline {
  text-align: center;
  margin-top: 4rem;
}
#tagline h1 {
  font-size: 4rem;
}
#border-img {
  width: 50%;
  height: 35vh;
  margin-top: 3rem;
}
.container-fluid {
  width: 80%;
  margin-top: 5rem;
  text-align: center;
}
.container-fluid h1 {
  margin-bottom: 2rem;
}
.attraction-div {
  text-align: left;
  transition: .3s;
}
.attraction-div:hover {
  transform: translateY(1rem);
  transition: .3s;
  cursor: pointer;
}
.attraction img {
  transition: transform .6s ease-in-out;
}
.attraction:hover img {
  transform: scale(1.05);
}
.desc-div {
  width: 100%;
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2em;
  color: white;
  margin-bottom: 2rem;
}
.desc-div h2 {
  padding-bottom: 0.1em;
  font-size: calc(.8em + 2vmin);
}
.desc-div p {
  font-size: calc(.5em + 1.45vmin);
}
#deals-container h1 {
  margin: 3rem;
  padding-top: 4rem;
}
.text-square {
  background-color: var(--text-box-color);
  transition: .3s;
}
.text-square h3 {
  padding-top: 1.3rem;
  font-size: calc(.4em + 2.8vmin);
  text-align: center;
}
.text-square p {
  padding: 1.3rem 1rem;
  font-size: calc(.8em + 1vmin);
  color: black;
  text-align: left;
}
.ticket-button, .cart-buttons {
  width: 10rem;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  padding: .5rem;
  border-radius: 30px;
  border-color: var(--future-color);
  background-color: var(--future-color);
  color: white;
  transition: .4s;
}
.cart-buttons {
    margin-top: 1.5rem;
}
.ticket-button:hover, .cart-buttons:hover {
  border-color: rgb(0, 24, 44);
  background-color: rgb(0, 24, 44);
  border-radius: 10px;
  transition: .4s;
}
/* FOOTER */
footer {
  width: 100%;
  height: 20rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--future-color);
  color: white;
}
footer h4 {
  font-size: 1.2rem;
}
footer div h4 {
  font-size: 1.6rem;
}
#footer-header {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
#footer-header div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
#footer-header span {
  font-size: 1.1rem;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
footer div a:hover {
  color: #b8b8b8;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
footer li {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: .8rem;
  padding: 0 1rem;
  border-right: 1px solid white;
}
footer li:last-child {
  border-right: 0px;
}
footer p {
  font-size: .8rem;
}
.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 34px;
  width: 54px;
  margin: .5rem;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
} 
.fa-youtube {
  background: #FF0000;
  color: white;
} 
.fa-instagram {
  background: #fd1d1d;
  color: white;
}
/* ATTRACTIONS PAGE */
#attractions-page-container {
  padding-top: 5rem;
}
#attractions-header, #dining-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#attractions-header h1, #dining-header h1 {
  margin-top: 2rem;
  font-size: calc(1rem + 6vmin);
}
#attraction-land-sorter {
  display: flex;
  height: 40px;
  margin-top: 2rem;
  font-size: calc(.5rem + 1.5vmin);
}
.attraction-type-sorter, .dining-type-sorter {
  width: 100%;
  display: flex;
  font-size: calc(.6rem + 1.2vmin);
}
.attraction-type-sorter:first-child, .dining-type-sorter:first-child {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.attraction-type-sorter:last-child, .dining-type-sorter:last-child {
  margin-bottom: 4rem;
}
.attraction-type-sorter button, .dining-type-sorter button {
  height: 7rem;
  background-color: white;
  border: 2px solid var(--future-color);
  border-radius: 10px;
}
.attraction-type-sorter div button, .dining-type-sorter div button {
  font-size: calc(.5rem + 1.3vmin);
}
.attraction-type-sorter button:hover, .dining-type-sorter button:hover {
  border-color: rgb(161, 171, 194);
}
#attractions-container {
  width: 75%;
}
.attraction {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid black;
  cursor: pointer;
}
/* TICKETS PAGE */
#tickets-header {
  height: auto;
  margin-top: 2.5rem;
}
#tickets-header h1 {
  font-size: 8vw;
  font-weight: 800;
}
#tickets-header img {
 width: 100%;
 max-height: 100vh;

}
.ticket-box {
  margin-top: 3rem;
  background-color: var(--text-box-color);
  padding: 2rem 0rem 2rem 2rem;
}
.ticket-box div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#tickets-footer {
  width: 50%;
  padding-top: 2rem;
  margin-top: 6rem;
  margin: 6rem auto 0;
  border-top: 1px dotted black;
  font-size: .9rem;
}
/* SHOPPING PAGE */
#shopping-container img {
  cursor: pointer;
  width: 100%;
  height: auto;
}
#shopping-header {
  height: auto;
  max-height: 100vh;
  margin-top: 2rem;
}
#shopping-header h1 {
  font-size: 8vw;
  font-weight: 750;
}
#shopping-header img {
  width: 100%;
}
.shopping-h1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: calc(1rem + 4vmin);
}
#first-shopping-h1 {
  margin-top: 8rem;
  margin-bottom: 2rem;
  font-size: calc(1rem + 4vmin);
}
#first-shop-h1 {
    margin-top: 4rem;
}
.slick-backpacks {
  width: 65%;
  cursor: pointer;
}
.slick-backpacks h2 {
  position: absolute;
  margin-left: 6rem;
  font-size: calc(.2rem + 3vmin);
  font-weight: 700;
  color: white;
}
.slick-backpacks h4 {
  position: absolute;
  margin-left: 6rem;
  font-size: calc(.2rem + 2.5vmin);
  font-weight: 700;
  margin-top: 5rem;
  color: white;
  text-decoration: underline;
}
.fa-arrow-left, .fa-arrow-right {
  top: 50%;
  position: absolute;
  color: rgb(230, 230, 230);
  opacity: .5;
  transition: .3s;
  z-index: 2;
}
.fa-arrow-left {
  left: 2%;
}
.fa-arrow-right {
  right: 2%;
}
.fa-arrow-right:hover, .fa-arrow-left:hover {
  opacity: 1;
  transition: .3s;
}
#sweater-container h2, #memorabilia h2, #coming-soon h3 {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: calc(1rem + 1.5vmin);
  font-weight: 600;
}
.accessories-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.accessories-img img {
  mask-image: linear-gradient(180deg, #000 65%, transparent);
}
.accessories-img p {
  font-size: calc(.5rem + 2.4vmin);
  position: absolute;
  font-weight: 600;
  color: black;
  text-align: center;
}
#accessories-box {
  display: flex;
  flex-wrap: wrap;
}
.narrow {
  width: 95%;
  text-align: center;
}
/* SHOP PAGE */
#cart {
  width: 36rem;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  display: none;
  background-color: #f3f3f3;
  overflow-y: scroll;
  z-index: 3;
}
#cart h1 {
  border-bottom: 1px dotted black;
  width: 75%;
  text-align: center;
  padding-bottom: 1rem;
}
#exit-cart-button {
  font-size: 1.5rem;
  position: absolute;
  top: .5%;
  right: 1.5%;
  cursor: pointer;
  padding: 10px;
  opacity: .6;
  z-index: 3;
}
#exit-cart-button:hover {
  opacity: 1;
}
.cart-button {
    display: flex;
    align-items: center;
}
#cart-items {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart-item, .cart-ticket {
  width: 95%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted black;
}
.cart-item p:first-child {
  font-size: 1.1rem;
}
.cart-price, .cart-ticket-price {
  margin-top: 5px;
}
.cart-item label, .cart-item input, .cart-item span {
  font-size: .8rem;
}
.cart-item input {
  width: 20%;
  height: 20px;
}
.close, .close-ticket {
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: .5rem;
}
#shop-container {
  background-color: #fdfdfd;
}
#shop-container h1 {
  padding-top: 3rem;
  margin-bottom: 3rem;
}
#shop-container img {
  width: 100%;
  height: auto;
}
.shop-item {
  cursor: pointer;
}
.slick-shop {
  width: 95%;
}
.shop-arrow-left {
  top: 32%;
  opacity: .6;
  cursor: pointer;
}
.shop-arrow-right {
  top: 32%;
  opacity: .6;
  cursor: pointer;
}
.fa-shopping-cart {
  cursor: pointer;
}
.dim {
  filter: brightness(40%);
}
@media only screen and (max-width: 884px) {
  nav {
    font-size: 1rem;
  }
  #attractions-header, #dining-header {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }
  .top-nav {
    display: none;
  }
  .media-overlay {
    height: 45vh;
  }
  .media-overlay h1 {
    font-size: 2.3rem;
  }
  video {
    height: 100%;
  }
  #video-footer {
    height: 2.5rem;
    font-size: 1rem;
    top: 5rem;
    background-color: white;
  }
  #tagline h1 {
    font-size: 2rem;
  }
  #border-img {
    width: 60%;
    height: 20vh;
  }
  .text-square h3 {
    font-size: 1.5rem;
  }
  .text-square p {
    font-size: 1rem;
  }
  .desc-div {
    height: 10rem;
  }
  footer h4 {
    font-size: 1.4rem;
  }
  footer ul li {
    font-size: .8rem;
  }
  .fa {
    padding: 15px;
    font-size: 26px;
    width: 49px;
    margin: .5rem;
  }
  #attractions-header h1 {
    margin-top: 2rem;
    font-size: calc(1rem + 2vmin);
  }
  .attraction-type-sorter button, .dining-type-sorter button {
    height: 4rem;
    font-size: .9rem;
  }
  #attractions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  #attractions-page-container {
    padding-top: 1.5rem;
  }
  #tickets-container h1 {
    font-size: calc(1rem + 3vmin);
  }
  .ticket-box {
    margin-top: 1rem;
    background-color: var(--text-box-color);
    padding: 1rem 0rem 1rem 1rem;
  }
  .ticket-box h3 {
    font-size: calc(1rem + 2vmin);
  }
  .ticket-box ul li {
    font-size: calc(.5rem + 1vmin);
  }
  #tickets-footer {
    width: 80%;
    padding-top: 2rem;
    margin-top: 6rem;
    font-size: .75rem;
  }
  #first-shopping-h1 {
    margin-top: 3rem;
  }
  .slick-backpacks {
    width: 100%;
  }
  .slick-backpacks h2 {
    margin-left: 3rem;
    font-weight: 650;
  }
  .slick-backpacks h4 {
    margin-left: 3rem;
    font-weight: 650;
  }
  .shopping-h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: calc(1rem + 4vmin);
  }
  .fa-arrow-left {
    visibility: collapse;
  }
  .fa-arrow-right {
    visibility: collapse;
  }
  #shop-container h1 {
    font-size: 1.5rem;
  }
  #cart {
    width: 100%;
    display: none;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  #cart-items img {
    padding-bottom: 1rem;
  }
  .attraction-type-sorter div button, .dining-type-sorter div button {
    font-size: calc(.4rem + 1vmin);
  }
  footer p {
    font-size: .6rem;
  }
}
@media only screen and (max-width: 575px) {
  .container-fluid {
    width: 100%;
    margin-top: 5rem;
    text-align: center;
  }
  #mobile-menu a:first-child {
    font-size: 1.4rem;
  }
  .attraction-type-sorter {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .attraction-type-sorter button {
    height: 55px;
    margin-top: .5rem;
  }
  .dining-type-sorter button {
    height: 55px;
  }
  .dining-type-sorter div button {
    font-size: 1rem;
  }
  .media-overlay h1 {
    font-size: 1.5rem;
  }
  .desc-div {
    height: 17vh;
  }
  .container-fluid h1 {
    margin-bottom: 1.5rem;
    font-size: calc(1.2rem + 2.5vmin);
  }
  #tagline h1 {
    font-size: 1.6rem;
  }
  #video-footer {
    display: none;
  }
  #border-img {
    width: 80%;
    height: 15vh;
  }
  .text-square p {
    font-size: 1rem;
  }
  footer ul li {
    font-size: .6rem;
  }
  .slick-backpacks h4 {
    margin-top: 3.5rem;
  }
  .close, .close-ticket {
    font-size: 1.5rem;
  }
}

/* ===== CHATBOT WIDGET STYLES ===== */
#chatbot-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

#chatbot-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(135deg, rgb(123, 207, 74), rgb(3, 97, 3));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#chatbot-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

#chatbot-button i {
  font-size: 28px;
}

#chatbot-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 380px;
  height: 550px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#chatbot-header {
  background: linear-gradient(135deg, rgb(123, 207, 74), rgb(3, 97, 3));
  color: white;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chatbot-header h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

#chatbot-close {
  font-size: 28px;
  cursor: pointer;
  line-height: 1;
  transition: transform 0.2s;
}

#chatbot-close:hover {
  transform: scale(1.2);
}

#chatbot-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#chatbot-messages::-webkit-scrollbar {
  width: 6px;
}

#chatbot-messages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#chatbot-messages::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

#chatbot-messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chatbot-message {
  padding: 12px 15px;
  border-radius: 12px;
  max-width: 85%;
  word-wrap: break-word;
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chatbot-message-user {
  background: linear-gradient(135deg, rgb(123, 207, 74), rgb(3, 97, 3));
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

.chatbot-message-ai {
  background: white;
  color: #333;
  align-self: flex-start;
  border: 1px solid #e0e0e0;
}

.chatbot-message strong {
  display: block;
  margin-bottom: 4px;
  font-size: 0.85rem;
}

.chatbot-typing {
  display: flex;
  gap: 4px;
  padding: 12px 15px;
  background: white;
  border-radius: 12px;
  width: fit-content;
  border: 1px solid #e0e0e0;
}

.chatbot-typing span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #888;
  animation: typing 1.4s infinite;
}

.chatbot-typing span:nth-child(2) {
  animation-delay: 0.2s;
}

.chatbot-typing span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0%, 60%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
}

#chatbot-input-area {
  display: flex;
  padding: 15px;
  background: white;
  border-top: 1px solid #e0e0e0;
  gap: 10px;
}

#chatbot-input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s;
}

#chatbot-input:focus {
  border-color: rgb(123, 207, 74);
}

#chatbot-send {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(135deg, rgb(123, 207, 74), rgb(3, 97, 3));
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

#chatbot-send:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#chatbot-send i {
  font-size: 16px;
}

/* Mobile responsive */
@media (max-width: 480px) {
  #chatbot-popup {
    width: calc(100vw - 30px);
    height: calc(100vh - 100px);
    bottom: 15px;
    right: 15px;
  }
  
  #chatbot-button {
    width: 55px;
    height: 55px;
  }
  
  #chatbot-button i {
    font-size: 24px;
  }
}