:root {
  --future-color: rgb(1, 36, 66);
  --pirate-color: #3A160E;
  --western-color: #924A36;
  --forest-color: rgb(3, 97, 3);
  --hallowwood-color: rgb(250, 174, 32);
  --text-box-color: rgb(169, 180, 209);
  --text-box-hover-color: rgb(131, 151, 196);
}
.future-world {
  color: var(--future-color);
}
.pirate-island {
  color: var(--pirate-color);
}
.wild-west {
  color: var(--western-color);
}
.fae-forest {
  color: var(--forest-color);
}
.hallowwood {
  color: var(--hallowwood-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: rgb(214, 214, 214);
}
a:hover {
  color: rgb(123, 207, 74);
  text-decoration: none;
}
.hamburger-menu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px;
  display: none;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  font-size: 1.3rem;
  background-color: var(--future-color);
  z-index: 3;
}
nav ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}
nav li {
  width: 20%;
  padding: 1.4rem;
}
nav li:hover {
  background-color: white;
  cursor: pointer;
}
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#video-div {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.media-overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-overlay h1 {
  position: absolute;
  color: white;
  text-shadow: 6px 6px 15px rgb(0, 0, 0);
  font-size: 4rem;
}
.container-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#video-footer {
  width: 80%;
  height: 10vh;
  margin-top: -5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  list-style: none;
  background-color: aliceblue;
  bottom: -1rem;
  z-index: 2;
}
#video-footer li {
  width: 33%;
  height: 50%;
}
#video-footer li:hover {
  background-color: rgb(225, 233, 240);
  cursor: pointer;
}
#tagline {
  text-align: center;
  margin-top: 4rem;
}
#tagline h1 {
  font-size: 4rem;
}
#border-img {
  width: 50%;
  height: 35vh;
  margin-top: 3rem;
}
.container-fluid {
  width: 80%;
  margin-top: 5rem;
  text-align: center;
}
.container-fluid h1 {
  margin-bottom: 2rem;
}
.attraction-div {
  text-align: left;
  transition: .3s;
}
.attraction-div:hover {
  transform: translateY(1rem);
  transition: .3s;
  cursor: pointer;
}
.attraction img {
  transition: transform .6s ease-in-out;
}
.attraction:hover img {
  transform: scale(1.05);
}
.desc-div {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2em;
  color: white;
  margin-bottom: 2rem;
}
.desc-div h2 {
  padding-bottom: 0.1em;
  font-size: calc(.8em + 2vmin);
}
.desc-div p {
  font-size: calc(.5em + 1.45vmin);
}
#deals-container h1 {
  margin: 3rem;
  padding-top: 4rem;
}
.text-square {
  background-color: var(--text-box-color);
  cursor: pointer;
  transition: .3s;
}
.text-square:hover {
  background-color: var(--text-box-hover-color);
  transition: .3s;
}
.text-square h3 {
  padding-top: 1.3rem;
  font-size: calc(.4em + 2.8vmin);
  text-align: center;
}
.text-square p {
  padding: 1.3rem 1rem;
  font-size: calc(.8em + 1vmin);
  color: black;
  text-align: left;
}
/* FOOTER */
footer {
  width: 100%;
  height: 30vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--future-color);
  color: white;
}
footer h4 {
  font-size: 1.6rem;
  margin-top: 1rem;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
footer li {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1.2rem;
  padding: 0 1rem;
  border-right: 1px solid white;
}
footer li:last-child {
  border-right: 0px;
}
.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 34px;
  width: 65px;
  margin: .5rem;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
} 
.fa-youtube {
  background: #FF0000;
  color: white;
} 
.fa-instagram {
  background: #fd1d1d;
  color: white;
}
/* ATTRACTIONS PAGE */
#attractions-page-container {
  padding-top: 5rem;
}
#attractions-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#attractions-header h1 {
  font-size: calc(1rem + 3vmin);
}
#attraction-land-sorter {
  height: 40px;
  font-size: calc(.5rem + 1.5vmin);
}
.attraction-type-sorter {
  display: flex;
  width: 100%;
  font-size: calc(.6rem + 1.3vmin);
}
.attraction-type-sorter:first-child {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.attraction-type-sorter:last-child {
  margin-bottom: 4rem;
}
.attraction-type-sorter button {
  height: 100px;
  margin: 0 .2rem;
  background-color: white;
  border: 2px solid var(--future-color);
  border-radius: 10px;
}
.attraction-type-sorter button:hover {
  border-color: rgb(161, 171, 194);
}
#attractions-container {
  width: 75%;
}
.attraction {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;
  cursor: pointer;
}
/* TICKETS PAGE */
#tickets-header {
  height: auto;
}
#tickets-header h1 {
  font-size: 8vw;
  font-weight: 800;
}
#tickets-header img {
 width: 100%;
}
.ticket-box {
  margin-top: 3rem;
  background-color: var(--text-box-color);
  padding: 2rem 0rem 2rem 2rem;
}
.ticket-box div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ticket-box button {
  width: 10rem;
  margin-top: .5rem;
  padding: .5rem;
  border-radius: 30px;
  border-color: var(--future-color);
  background-color: var(--future-color);
  color: white;
  transition: .4s;
}
.ticket-box button:hover {
  border-color: rgb(0, 24, 44);
  background-color: rgb(0, 24, 44);
  border-radius: 10px;
  transition: .4s;
}
#tickets-footer {
  width: 50%;
  padding-top: 2rem;
  margin-top: 6rem;
  border-top: 1px dotted black;
  font-size: .9rem;
}
/* SHOPPING PAGE */
#shopping-container img {
  cursor: pointer;
  width: 100%;
  height: auto;
}
#shopping-header {
  height: auto;
}
#shopping-header h1 {
  font-size: 8vw;
  font-weight: 750;
}
#shopping-header img {
  width: 100%;
}
.shopping-h1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: calc(1rem + 4vmin);
}
#shopping-top-h1 {
  margin-top: 8rem;
  margin-bottom: 2rem;
  font-size: calc(1rem + 4vmin);
}
.slick-backpacks {
  width: 65%;
}
.slick-backpacks h2 {
  position: absolute;
  margin-left: 6rem;
  font-size: calc(.2rem + 3vmin);
  font-weight: 700;
  color: white;
}
.slick-backpacks h4 {
  position: absolute;
  margin-left: 6rem;
  font-size: calc(.2rem + 2.5vmin);
  font-weight: 700;
  margin-top: 5rem;
  color: white;
  text-decoration: underline;
}
.fa-arrow-left, .fa-arrow-right {
  top: 50%;
  position: absolute;
  color: rgb(230, 230, 230);
  opacity: .5;
  transition: .3s;
  z-index: 2;
}
.fa-arrow-left {
  left: 2%;
}
.fa-arrow-right {
  right: 2%;
}
.fa-arrow-right:hover, .fa-arrow-left:hover {
  opacity: 1;
  transition: .3s;
}
#sweater-container h2, #memorabilia h2, #coming-soon h3 {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: calc(1rem + 1.5vmin);
  font-weight: 600;
}
.accessories-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.accessories-img img {
  mask-image: linear-gradient(180deg, #000 65%, transparent);
}
.accessories-img p {
  font-size: calc(.5rem + 2.4vmin);
  position: absolute;
  font-weight: 600;
  color: black;
  text-align: center;
}
#accessories-box {
  display: flex;
  flex-wrap: wrap;
}
.narrow {
  width: 95%;
  text-align: center;
}
/* SHOP PAGE */
#shop-container h1:first-child {
  margin-top: 6rem;
  margin-bottom: 1rem;
}
#shop-container h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
#shop-container img {
  cursor: pointer;
  width: 100%;
  height: auto;
}
#shop-header {
  height: auto;
}
#shop-header h1 {
  font-size: 8vw;
  font-weight: 750;
}
.slick-forest {
  width: 95%;
}
.slick-forest {
  padding: 1rem;
}
@media only screen and (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }
  .nav, .nav-item {
    display: none;
  }
  #video-overlay {
    height: 45vh;
  }
  #video-overlay h1 {
    font-size: 2.3rem;
  }
  video {
    height: 100%;
  }
  #video-footer {
    height: 4vh;
    font-size: 1rem;
    top: 5rem;
    background-color: white;
  }
  #tagline h1 {
    font-size: 2rem;
  }
  #border-img {
    width: 60%;
    height: 20vh;
  }
  .text-square h3 {
    font-size: 1.5rem;
  }
  .text-square p {
    font-size: 1rem;
  }
  footer h4 {
    font-size: 1.4rem;
  }
  footer ul li {
    font-size: .8rem;
  }
  .fa {
    padding: 15px;
    font-size: 26px;
    width: 49px;
    margin: .5rem;
  }
  .attraction-type-sorter button {
    height: 4rem;
    font-size: .9rem;
  }
  #attractions-container {
    width: 90%;
  }
  #attractions-page-container {
    padding-top: 1.5rem;
  }
  #tickets-footer {
    width: 80%;
    padding-top: 2rem;
    margin-top: 6rem;
    font-size: .75rem;
  }
  #shopping-top-h1 {
    margin-top: 2rem;
  }
  .slick-backpacks {
    width: 100%;
  }
  .slick-backpacks h2 {
    margin-left: 3rem;
    font-weight: 650;
  }
  .slick-backpacks h4 {
    margin-left: 3rem;
    font-weight: 650;
  }
  .fa-arrow-left {
    visibility: collapse;
  }
  .fa-arrow-right {
    visibility: collapse;
  }
}
@media only screen and (max-width: 575px) {
  .container-fluid {
    width: 100%;
    margin-top: 5rem;
    text-align: center;
  }
  #video-overlay h1 {
    font-size: 2rem;
  }
  .desc-div {
    height: 17vh;
  }
  .container-fluid h1 {
    margin-bottom: 1.5rem;
    font-size: calc(1.2rem + 2.5vmin);
  }
  #tagline h1 {
    font-size: 1.6rem;
  }
  #border-img {
    width: 80%;
    height: 15vh;
  }
  .text-square p {
    font-size: 1rem;
  }
  footer ul li {
    font-size: .6rem;
  }
  .slick-backpacks h4 {
    margin-top: 3.5rem;
  }
}