:root {
  --future-color: rgb(1, 36, 66);
  --pirate-color: #3A160E;
  --western-color: #924A36;
}
.hamburger-menu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px;
  display: none;
}
nav {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  position: fixed;
  font-size: 1.3rem;
  background-color: aliceblue;
  z-index: 3;
}
nav ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}
nav li {
  width: 20%;
  padding: 1.4rem;
}
nav li:hover {
  background-color: white;
  cursor: pointer;
}
video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#video-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
#video-overlay h1 {
    color: white;
    text-shadow: 6px 6px 15px rgb(0, 0, 0);
    font-size: 4rem;
}
.container-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#video-footer {
    width: 80%;
    height: 10vh;
    margin-top: -5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    list-style: none;
    background-color: aliceblue;
    bottom: -1rem;
    z-index: 2;
}
#video-footer li {
    width: 33%;
    height: 50%;
}
#video-footer li:hover {
    background-color: rgb(199, 199, 199);
    cursor: pointer;
}
#tagline {
    text-align: center;
    margin-top: 4rem;
}
#tagline h1 {
    font-size: 4rem;
}
#border-img {
  width: 50%;
  height: 30vh;
  margin-top: 3rem;
}
#new-attractions-container {
    width: 80%;
    margin-top: 5rem;
    text-align: center;
}
#new-attractions {
  width: 100%;
  height: 30vh;
  display: flex;
  text-align: left;
}
.attraction-div {
  width: 30%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: .3s;
}
.attraction-div:hover {
  transform: translateY(1rem);
  transition: .3s;
  cursor: pointer;
}
.attraction-img-div {
  max-width: 100%;
  height: 60%;
  background-color: rgb(147, 52, 150);
}
.attraction-img-div img {
  max-width: 100%;
  height: auto;
}
.attraction-desc {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  color: white;
  margin-bottom: 2rem;
}
.attraction-desc h2 {
  padding-bottom: 0.5em;
}
.attraction-desc p {
  padding-bottom: 0.5em;
  font-size: 1.3rem;
}
#deals-container {
  width: 80%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #3A160E;
}
#deals-div {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #616161;
}
#deals-div-imgs {
  width: 100%;
  height: 40%;
  display: flex;
}
#deals-div-desc {
  width: 100%;
  height: 40%;
  display: flex;
}
#deals-div-desc h3 {

}
#deals-div-desc img {
  width: 33%;
}
@media only screen and (max-width: 800px) {
  .hamburger-menu {
    display: block;
  }
  .nav, .nav-item {
    display: none;
  }
  #video-overlay {
    height: 45vh;
  }
  #video-overlay h1 {
    font-size: 2.3rem;
  }
  video {
    height: 100%;
  }
  #video-footer {
    height: 4vh;
    font-size: 1rem;
    top: 5rem;
    background-color: white;
  }
  #tagline h1 {
    font-size: 2rem;
  }
  #border-img {
    width: 60%;
    height: 20vh;
  }
}
@media only screen and (max-width: 550px) {
  #video-overlay h1 {
    font-size: 2rem;
  }
}